ipykernel
python-dotenv
langchain
langchain-community
langchain_groq
langchain_google_genai
pypdf
faiss-cpu
structlog
PyMuPDF
pandas
streamlit
pytest>=7.0.0
pytest-cov>=4.0.0
pytest-mock>=3.10.0
pytest-asyncio>=0.21.0
langchain-core[tracing] # for tracing the token usage in the LLM calls
fastapi==0.116.1
uvicorn==0.35.0
python-dotenv==1.1.1
python-multipart==0.0.20
docx2txt==0.9

-e .